<div class="alertbox-1x">
    <div class="alert alert-dismissible fade show" role="alert">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Unlimited online course &amp; video tutorials downloads!<strong>Get 30% off</strong></p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navbar -->
<div class="main-menu-1x">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-menu">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light btco-hover-menu">
                        <a class="navbar-brand" href="/">
                            <img src="assets/images/logo.png" class="d-inline-block align-top" alt="SpringBoot Learning Hub" priority>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                            <ul class="navbar-nav ml-auto main-menu-nav">

                                <li class="nav-item dropdown active">
                                    <a class="nav-link" href="/" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Home <span class="sr-only">(current)</span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                        <li><a class="dropdown-item" href="/">Home One</a></li>
                                        <li><a class="dropdown-item" href="/" target="_blank">Home Two</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/about">About Us</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="/#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Pages
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">

                                        <li><a class="dropdown-item" href="/learning">Learning Path</a></li>
                                        <li><a class="dropdown-item dropdown-toggle" href="/courses">Course</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/course-list">All Course</a></li>
                                                <li><a class="dropdown-item" href="/course-single-one">Course Single One</a></li>
                                                <li><a class="dropdown-item" href="/course-single-two">Course Single Two</a></li>
                                            </ul>
                                        </li>

                                        <li><a class="dropdown-item dropdown-toggle" href="/career">Carrer</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/career">Carrer</a></li>
                                                <li><a class="dropdown-item" href="/career-single">Carrer Single</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="dropdown-item dropdown-toggle" href="/our-team">Events </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/events"> Events</a></li>
                                                <li><a class="dropdown-item" href="/events-details">Events Details </a></li>
                                            </ul>
                                        </li>
                                        <li><a class="dropdown-item" href="/404">404 Page</a></li>
                                        <li><a class="dropdown-item" href="/comming-soon">Comming Soon</a></li>
                                        <li><a class="dropdown-item" href="/components">Components</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="/blog" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Blog
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                                        <li><a class="dropdown-item" href="/blog">Grid View</a></li>
                                        <li><a class="dropdown-item" href="/blog-list">List View</a></li>
                                        <li><a class="dropdown-item" href="/blog-single">Blog Single</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact Us</a>
                                </li>

                                <li class="nav-item sign-in">
                                    <a class="nav-link" href="/signin">Sign in</a>
                                </li>

                                <li class="nav-item">
                                    <a class="btn-small" href="/">Get Started</a>
                                </li>

                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
